body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.95);
    margin: 0;
    padding: 0 3rem;
    color: white;
}

.sort {
    color: white;
}

.sort:hover {
    text-decoration: underline;
}

.listens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    justify-content: flex-start;
}

.listen-item {
    position: relative; /* Add this line */
    background-color: rgba(0, 0, 0, 0.95);
    border: 2px solid #00ffee;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 10000px;
    text-align: center;
    margin: 0;
    transition: 0.3s ease-in-out;
}

.listen-item:hover {
    box-shadow: 0 0 25px #00ffee;
}

.listen-item audio {
    width: 100%;
    margin-bottom: 10px;
    background-color: black;
    border-radius: 10px; /* 角を丸くする */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を追加 */
}

.listen-item .title {
    color: white;
    text-shadow: 0 0 10px #00ffee;
    font-size: 3rem;
    margin: 10px 0;
    font-weight: bold;
}

.listen-item .description {
    color: #00ffee;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    transition: max-height 0.3s ease;
    max-height: 4.5em;
}

.listen-item .description.expanded {
    -webkit-line-clamp: unset;
    max-height: none;
}


.listen-item .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.listen-item a {
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.listen-item a:hover {
    color: white;
    text-decoration: underline;
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
}

.listen-item button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.paginate {
    text-align: center;
    margin: 20px 0;
}

.listen-item .toggle-button {
    color: #00ffee;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 10px;
}

.liked {
    color: #00ffee;
    transition: .5s;
    box-shadow: 0 0 100px #00ffee;
    transform: scale(1.5)
}

.flexbox {
    align-items: center;
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
}

.count-num {
    font-size: 20px;
    margin-left: 10px;
}

.fa-star {
    font-size: 30px;
}

.paginate {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.paginate .page-item {
    display: inline-block;
}

