body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.95);
    margin: 0;
    padding: 0 3rem;
}

.uploads-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-button {
    font-size: 3rem;
    text-align: center;
    margin: 30px 0 10px;
    width: calc(100% - 4rem);
    padding: .8rem;
    border: 2px solid #00ffee;
    border-radius: 8px;
    color: #00ffee;
    cursor: pointer;
    transition: .3s ease-in-out;
    font-weight: bold;
    text-shadow: 0 0 2px white;
}

.create-button:hover {
    color: white;
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 0 25px #00ffee;
    background-color: #00ffee;
}

.sort {
    color: white;
}

.sort:hover {
    text-decoration: underline;
}

.uploads {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 全体を中央に寄せる */
    gap: 20px;
    justify-content: flex-start;
}


.upload-item {
    background-color: rgba(0, 0, 0, 0.95);
    border: 2px solid #00ffee;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 10000px;
    text-align: center;
    margin: 0;
    transition: .3s ease-in-out;
}

.upload-item:hover {
    box-shadow: 0 0 25px #00ffee;
}

.upload-item audio {
    width: 100%;
    margin-bottom: 10px;
    background-color: black;
    border-radius: 10px; /* 角を丸くする */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を追加 */
}


.upload-item .title {
    color: white;
    text-shadow: 0 0 10px #00ffee;
    font-size: 3rem;
    margin: 10px 0;
    font-weight: bold;
}

.upload-item .description {
    color: #00ffee;
    font-weight: bold;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 表示する行数を制限する */
    -webkit-box-orient: vertical;
    transition: max-height 0.3s ease;
    max-height: 4.5em; /* 3行分の高さ */
}

.upload-item .description.expanded {
    -webkit-line-clamp: unset; /* 行数制限を解除 */
    max-height: none; /* 高さ制限を解除 */
}

.upload-item .actions {
    display: flex;
        justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.upload-item .edit a {
    background-color: black;
    color: #00ffee;
    border: #00ffee;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.upload-item .edit a:hover {
    background-color: #00ffee;
    color: white;
}

.upload-item button {
    background-color: black;
    color: #00ffee;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.upload-item button:hover {
    background-color: red;
    color: white;
}


.paginate {
    text-align: center;
    margin: 20px 0;
}

.upload-item .toggle-button {
    color: #00ffee;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 10px;
}
