body {
    background-color: #0d0d0d;
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Rock Salt', cursive;
    color: #ff0000;
    text-shadow: 2px 2px 4px #000;
}

a {
    color: #ff0000;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #ff4d4d;
    text-decoration: underline;
}

.uploads div {
    background-color: #262626;
    border: 1px solid #333;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title {
    font-family: 'Rock Salt', cursive;
    color: #ff0000;
    text-shadow: 2px 2px 4px #000;
}

.description {
    font-size: 14px;
    color: #b3b3b3;
    margin-bottom: 10px; /* Add some space below the description */
}

button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #ff0000;
}

audio {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.edit a {
    color: #ff0000;
}

.edit a:hover {
    text-decoration: underline;
}

/* New styles for the create button */
.create-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    text-align: center;
    background-color: #ff0000;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Rock Salt', cursive;
    text-shadow: 2px 2px 4px #000;
    transition: transform 0.3s, box-shadow 0.3s;
}

.create-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #ff0000;
}
